#integracao2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.vermelho {
    color: red;
}

.azul {
    color: blue;
}

.branco {
    color: white;
    background-color: rosybrown;
}